<html>
    <head>
        <title>Ad Categories</title>
        <link rel="stylesheet" href="../asset/ad_categories.css"></link>
    </head>

    <body>
        <table align="center">
            <tr>
                <td>
                    <fieldset>
                        <legend><h3>Ad Categories</h3></legend>
                        <table align="center">
                            <tr>
                                <td>
                                    <a href="../controller/view_ads.php?filter=category&value=Electronics">Electronics</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="../controller/view_ads.php?filter=category&value=Real Estate">Real Estate</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="../controller/view_ads.php?filter=category&value=Vehicles">Vehicles</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="../controller/view_ads.php?filter=category&value=Jobs">Jobs</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="../controller/view_ads.php?filter=category&value=Travels">Travels</a>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
        </table>
    </body>
</html>