<html>
    <head>
        <title>Wishlist</title>
        <link rel="stylesheet" href="../asset/user_wishlist.css"></link>
    </head>

    <body>
        <form action="../controller/wishlist.php" method="POST">
            <table align="center">
                <tr>
                    <td>
                        <fieldset>
                            <legend><h3>Wishlist</h3></legend>
                            <input type="submit" value="Show Wishlist">
                        </fieldset>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
